body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -10;
}

#content{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}

.hidden {
  opacity: 0 !important;
  visibility: hidden;
}

.none {
  display: none !important; 
}

.cities {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.city-name {
  font-size:  10px;
  paint-order: stroke;
  stroke: white;
  stroke-width: 3px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}

.constituency-map {
  transition: fill 0.2s ease-in-out;
}

.constituency-map:hover {
  stroke-width: 0.3px;
  stroke: white;
  cursor: pointer;
}

.constituency-map.active {
  stroke: black;
  stroke-width: 0.1px;
}

div.tooltip {	
  position: absolute;						
  width: 200px;					
  min-height: 80px;					
  padding: 2px;				
  color: rgb(75, 75, 75);	
  background: rgba(255, 255, 255, 0.7);	
  border: 1px solid lightgray;
  border-radius: 2px;			
  pointer-events: none;
  opacity: 0;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.tooltip .section {
  border-top: 1px solid lightgray;
  margin-top: 10px;
  padding-top: 10px;
}

.tooltip .section.changed {
  display: grid;
  grid-template-columns: 80% 20%;
}

.tooltip .section.gender {
  display: grid;
  grid-template-columns: auto auto;
}

.tooltip .changed .gain {
  padding: 5px;
  color: black;
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
}

.tooltip .constituency {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 0px 5px 5px 0px;
  color: black;
}

.tooltip .party-container{
  display: grid;
  grid-template-columns: 30% 70%;
}

.tooltip .name {
  font-size: 18px;
}

.tooltip .position {
  font-size: 10px;
}

.tooltip .gender {
  font-size: 12px;
  margin: 0;
}

.tooltip .share {
  font-size: 10px;
  margin: 0;
}

.tooltip .party-logo{
  width: 50px;
  height: 50px;
  border: 1px solid rgb(196, 196, 196);
  padding: 5px;
  border-radius: 1px;
  box-sizing: border-box;
}

.user-input {
  width: 300px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: -3;
}

.details {
  width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: solid 1px #eee;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  z-index: -3;
}

.details .header {
  font-size: 20px;
  font-weight: 100;
  margin: 5px 0;
  text-align: right;
  color: grey
}

.gender-chart-text {
  font-size: 12px;
}

.tooltip .text {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}